---
interface Props {
    id: string;
    src: string;
    options: string;
	title: string;
/* 	body: string;
	href: string; */
}

const { id, src, options, /* href ,*/ title, /* body  */} = Astro.props;
---

<div class="link-card cursor-pointer" data-label=`${id}`>
    <div class="flex flex-col gap-y-4 p-6">
        <!-- <h2 class="flex justify-center">
			{title}
		</h2> -->
        <div class="flex flex-col md:flex-row gap-y-6 md:gap-x-6">
            <!-- <img src=`${src}` alt=`image_${title}` class=`${options}`> -->
            <h2>
                {title}
                <span class="ml-4">&rarr;</span>
            </h2>
            <!-- <p>
                {body}
            </p> -->
        </div>
    </div>
</div>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
        /* background-image: linear-gradient(45deg, blue, rgb(var(--accent-light)) 30%, white 60%); */
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
